@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish&family=Playfair+Display&display=swap");
body {
  background-color: #FFFFF7;
  font-family: "Mulish", sans-serif;
  opacity: 0;
  transition: opacity 1s;
}

.container {
  max-width: 92%;
}

.dark-bg {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.dark-bg.active {
  display: block;
  visibility: visible;
  opacity: 50%;
}

header {
  width: 100%;
  position: fixed;
  height: 160px;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0px 3px 26px -3px rgba(0, 0, 0, 0.4);
}
header .side-bar {
  display: none;
  visibility: hidden;
}
header .header-top {
  height: 50px;
  background-color: #292727;
  z-index: 11;
  width: 100%;
}
header .header-top a {
  color: #FFFFFF;
  padding-left: 0.7rem;
  line-height: 50px;
}
header .header-top a span {
  font-weight: 200;
  font-family: "Europa", sans-serif;
}
header .header-main {
  height: 110px;
  background-color: #FFFFFF;
  font-size: 1.125rem;
  font-family: "Europa", sans-serif;
  font-weight: 400;
}
header .header-main .mobile {
  display: none;
}
header .header-main .header-bar {
  position: relative;
}
header .header-main nav {
  line-height: 110px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
header .header-main nav .item span {
  transition: 0.3s;
}
header .header-main nav .item span:hover {
  color: red;
}
header .header-main nav .item .item-list {
  line-height: 2;
  position: absolute;
  width: 100%;
  text-transform: capitalize;
  top: 100%;
  left: 12px;
  padding: 85px 100px;
  background-color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
header .header-main nav .item .item-list.active {
  visibility: visible;
  display: flex;
  opacity: 100%;
}
header .header-main nav a {
  text-decoration: none;
  color: #292727;
  transition: 0.3s;
}
header .header-main nav a:hover {
  color: red;
}

main .banner {
  margin-top: 160px;
  background-image: url(../img/main-banner.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
main .banner .black-tint {
  opacity: 30%;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1;
}
main .services h2 {
  font-size: 2rem;
  text-align: center;
  padding: 4.75rem 0;
}
main .services h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
}
main .services a {
  color: #292727;
}
main .services a img {
  transition: all 0.5s;
  width: 100%;
  overflow: hidden;
}
main .services a img:hover {
  opacity: 0.6;
}
main #articles {
  padding: 8rem 1rem;
}
main #articles h4 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
main #articles p {
  line-height: 2;
  padding-bottom: 2rem;
}
main #articles a {
  color: #292727;
}
main #articles .line {
  border: 1px solid #DBDBDB;
  margin-bottom: 7rem;
}
main #articles .tags > li {
  list-style-type: disc;
  padding: 1.5rem 0;
  text-transform: capitalize;
  border-bottom: 1px solid #DBDBDB;
}
main .before-after {
  background-color: #F9F8F7;
  padding-bottom: 6rem;
}
main .before-after .contact-us {
  margin-top: 7rem;
}
main .before-after h2 {
  text-align: center;
  padding: 4rem 0 1rem 0;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}
main .before-after h3 {
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 2rem;
}
main .before-after button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  background-color: transparent;
  font-size: 1.125rem;
  border: 1px solid black;
  transition: 0.4s;
}
main .before-after button:hover {
  background-color: #292727;
  color: #fff;
}
main .before-after .form-group .form-control {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #292727;
  position: relative;
  padding: 1rem;
}
main .before-after .form-group .label-list {
  position: absolute;
  padding: 1rem;
}

footer .footer-top {
  padding: 4rem 0;
}
footer .footer-top a {
  color: #292727;
  display: block;
  transition: 0.5s;
}
footer .footer-top a:hover {
  color: black;
  font-weight: 700;
}
footer .footer-top .social-media {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}
footer .footer-top .social-media i {
  color: #292727;
}
footer .footer-top .social-media i span {
  font-family: "Europa", sans-serif;
  font-weight: 200;
}
footer .footer-bottom {
  height: 50px;
  background-color: #292727;
  z-index: 11;
  width: 100%;
  color: #DBDBDB;
}
footer .footer-bottom div {
  line-height: 50px;
}

.about {
  margin-top: 160px;
  height: 40vw;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C0C0C0;
}
.about .text {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.about-content {
  background-color: #fff;
  padding: 110px 0 70px 0;
}
.about-content h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: "Playfair Display", serif;
}
.about-content p {
  margin-bottom: 40px;
}

.intro {
  margin-top: 160px;
  padding: 110px 0;
  background-color: #F7FFFF;
}
.intro h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-family: 400;
  margin: 0 0 30px 0;
}

.content {
  background-color: #fff;
  padding: 110px 0;
}
.content .tags {
  padding: 0;
}
.content .tags li {
  list-style-type: disc;
  padding: 0.5rem 0;
  text-transform: capitalize;
  border-bottom: 1px solid #DBDBDB;
}/*# sourceMappingURL=style.css.map */